<h1>Edit task</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: @task.title %>
  <%= f.label :details %>
  <%= f.text_field :details, placeholder: @task.details %>
  <%= f.submit value: "Edit Task"%>
<% end %>
