<h1><%= @task.title %></h1>

<h3><%= @task.details %></h3>

<p>
  <%= check_box_tag "completed", "completed", @task.completed %> <%= @done_text %>
</p>

<p><%= link_to "<-- Back to lists", tasks_path %></p>
